/* General Styles */

body {
	font-family: arial,sans-serif;
	margin: 0;
}

input {
	background: none repeat scroll 0 0 #fafafa;
	border: 1px solid #ddd;
	font-size: 0.95em;
	font-weight: bold;
	padding: 0.15em;
}

input:hover, input:focus {
	background: none repeat scroll 0 0 #f6f6f6;
	border-color: #c5c5c5;
}

button {
	background-color: #ECD84E;
	color: #000;
	border: 0 none #000;
	padding: 0.25em;
	border-radius: 2px;
}

fieldset {
	border: 1px solid #ddd;
	padding: 0.25em 0.5em 0.5em;
}

.dlw_boxed  {
	padding: 0.5em 0.2em 0.2em 0.2em;
	background-color: #007788;
	box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
	color: #fff;
}

.dlw_boxed legend {
	color: #ECD84E;
	font-size: 1.1em;
}


/* Title Styles */

div.dlw_title {
	background-color: #cccccc;
	height: 10em;
	box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7); 
}

.dlw_title > span {
	background-image: url("/static/img/logo.png");
	background-repeat: no-repeat;
	display: inline-block;
	height: 145px;
	margin-left: 10px;
	padding-left: 125px;
	padding-top: 25px;
	font-family: monospace;
	font-weight: bold;
	font-size: 6em;
	text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
	color: #fff;
}

/* Body Styles */

#dlw_body {
	margin-top: 1em;
	overflow: hidden;
	margin: 1em 1em 1em 0;
	box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
	padding: 0 0.5em 1em 0.5em;
}

/* Menu Styles */

.dlw_menu {
	background-color: #888;
	box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
	margin: 1em 1em 1em 0;
	padding-right: 1em;
	padding-bottom: 1em;
	float: left;
}

.dlw_menu li {
	padding-left: 2em;
	text-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
}

.dlw_menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	color: white;
}

.dlw_menu > ul > li {
	padding: 0.2em 1em 0.2em 0.5em;
	margin-top: 0.5em;
	margin-bottom: 0.2em;
	background-color: #333;
	box-shadow: -1px 2px 5px 1px rgba(255, 255, 255, 0.7);
	text-shadow: initial;
}

.dlw_menu  a , .dlw_menu a:visited {
	text-decoration: none;
	color: #fdc314;
	font-weight: bold;
}

.dlw_menu a:hover {
	text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

/* Footer Style */

#dlw_foot {
	text-align:center;
	background-color: #aaaaaa;
	box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7); 
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0.2em;
	font-weight: bold;
	text-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
	font-size: 0.9em;
	clear: left;
}

#dlw_foot a , #dlw_hello > a {
	color: #fdc314;
	text-shadow: initial;
	text-decoration: none;
}

#dlw_foot a:hover , #dlw_hello > a:hover {
	text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

/* Hello Styles */

#dlw_hello {
	min-width: 16em;
}

#dlw_hello > span {
	color: white;
}

#dlw_hello > span > span {
	font-weight:bold;
	text-transform: capitalize;
	margin-left: 0.2em;
}

#dlw_hello > a {
	float: right;
	font-weight: bold;
}

span.dlw_currentplayer {
	display: block;
	text-align: center;
	margin: 0.5em 1em 0.5em;
	padding: 0.25em;
	color: #000 !important;
	box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
	background-color: #ECD84E;
	border-radius: 2px;
}

span.dlw_currentplayer[data-player-realm="_FirstPlayerRealm"] > span, span.dlw_currentplayer[data-player-realm="Albion"]  > span {
	color: #e52d2d;
}
span.dlw_currentplayer[data-player-realm="Midgard"] > span {
	color: #7272FF;
}
span.dlw_currentplayer[data-player-realm="_LastPlayerRealm"] > span, span.dlw_currentplayer[data-player-realm="Hibernia"] > span {
	color: #009E0A;
}


/* Specific Authentication Styles */

#dlw_homelogin {
	position: absolute;
	right: 1em;
	top: -0.5em;
}

#dlw_homelogin > form, #dlw_hello {
}

#dlw_login > form {
	padding: 0.2em;
	margin-top: 0.5em;
	margin-right: auto;
	margin-left:auto;
	width: 15.8em;
}

#dlw_login {
	text-align: center;
	margin: 0.5em auto 0 auto;
	width: 40em;
}

#dlw_login > span {
	font-weight: bold;
	color: #bb0000;
}

.dlw_authentication fieldset {
	width: 14em;
}

.dlw_authentication label {
	float: left;
	clear: left;
	margin-right: 1em;
	margin-top: 0.2em;
	text-align: right;
	width: 5em;
	color: #fff
}

.dlw_authentication input {
	display: block;
	width: 7em;
	margin-bottom: 0.2em;
}

.dlw_authentication button {
	width: 90%;
	margin: 0.5em 5% 0 5%;
	font-weight: bold;
}

/* Welcome Style */

#dlw_status {
	float: right;
	margin-top: 0.5em;
	width: 13em;
}

#dlw_status span {
	display: block;
	float: right;
	font-weight: bold;
}